# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore the built binary/ies
bin/*

# ignore vim .swp and .swo files
*.swp
*.swo

# ignore executables and profiling data created by testing
test.out
test.prof

# generate binary
sameriver-generate

# ignore files imported from game directory by generate
engine/CUSTOM_*
