# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore the built binary/ies
bin/*

# ignore vim .swp and .swo files
*.swp
*.swo

# ignore the quest.log file created by test_run.sh
quest.log
